<!DOCTYPE html>
<html lang="en">
	<head>
	<base href="<%= config.base %>" />
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta
			name="viewport"
			content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"
		/>
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="mobile-web-app-capable" content="yes" />
		<meta name="application-name" content="Z-Wave JS UI" />
		<meta name="apple-mobile-web-app-title" content="Z-Wave JS UI" />
		
		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="<%- config.base %>apple-touch-icon-180x180.png"
		/>
		<link rel="icon" href="<%- config.base %>favicon.ico" sizes="any">
		<link rel="icon" href="<%- config.base %>favicon.svg" type="image/svg+xml">
	
		
		<link rel="shortcut icon" href="<%- config.base %>favicon.ico" />

		<meta name="msapplication-TileColor" content="#da532c" />
		<meta name="theme-color" content="#ffffff" />
		<title>Z-Wave JS UI</title>
		<meta name="description" content="Z-Wave JS UI">

		<script type="module" crossorigin src="<%- config.base %>assets/index-01658f6b.js"></script>
		<link rel="stylesheet" href="<%- config.base %>assets/index-af4de16e.css">
	<link rel="manifest" href="<%- config.base %>manifest.webmanifest"><script id="vite-plugin-pwa:register-sw" src="<%- config.base %>registerSW.js"></script></head>

	<body class="hidden-scrollbars">
		<noscript>
			<strong
				>We're sorry but Z-Wave JS UI doesn't work properly without
				JavaScript enabled. Please enable it to continue.</strong
			>
		</noscript>
		<div id="app"></div>
		
		<!-- built files will be auto injected -->
	</body>
</html>
